.vscode/settings.json
.gradle/7.4.2/gc.properties
.gradle/7.4.2/checksums/checksums.lock
.gradle/7.4.2/dependencies-accessors/dependencies-accessors.lock
.gradle/7.4.2/dependencies-accessors/gc.properties
.gradle/7.4.2/fileChanges/last-build.bin
.gradle/7.4.2/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/vcs-1/gc.properties
